*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'montserrat', sans-serif ;
}
.page-wrap{
    display:flex;
    min-height: 100vh;

}
.left-panel{
    flex: 1 1 66.666%;
    background-image: linear-gradient(to bottom right, #133606, #217c00 );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-panel .illustration{
    padding-bottom: 50px;
}

.left-panel h2{
    color: #ffffff;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
}
.right-panel{
    flex: 1 1 33.333%;
    padding: 25px;
}

.right-panel h1{
    color: #133606;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 40px;
}
.right-panel h1 strong{
    color: #217c00;
    font-weight: 900;
}
.animated-form h3{
    color: #666;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 45px;
}
.form-group.flex-end{
    justify-content: flex-end;
}
.animated-form .form-group{
    position: relative;
    display: flex;
    margin-bottom: 45px;

}
.animated-form .form-group label{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #AAA;
    transition: 0.3s ease-out;
}
.animated-form .form-group input{
    display: block;
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 3px solid #AAA;
    color:#666;
    font-size: 20px;
}

.animated-form .form-group:focus-within label{
    top: 0px;
    transform: translateY(-100%);
    color: #217c00;
}
.animated-form .form-group:focus-within input{
    border-bottom-color: #217c00;
}
.animated-form .form-group .button{
    display: inline-block;
    width: auto;
    padding:15px 60px;
    border: 3px solid #217c00;
    border-radius: 999px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    background-image: linear-gradient(to right, transparent 50%, #133606 50%, #217c00);
    background-size: 200%;
    transition: 0.3s;
}
.animated-form .form-group .button:hover{
    background-position: 100%;
    color: white;
    border:3px solid #fff;
}
.animated-form .form-group.flex-end{
    margin-bottom: 25px;
}
.animated-form .lost-password a{
    color: #217c00;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
}
.animated-form .lost-password a:hover{
    border-bottom-color: #217c00 ;
}

.animated-form .newcomer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    color: #217c00;
}
.animated-form .newcomer a{
    color: #217c00;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.animated-form .newcomer a:hover{
    border-bottom-color: #217c00;
}

::placeholder{
    font-family: 'montserrat', sans-serif ;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}